<h1>Projects</h1>
<% @projects.each do |project| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../assets/placeholder.png">
      <div class="caption">
        <h3><%=project.name%></h3>
        <h2>By: <%=project.creator%></h2>
        <p><%=project.description%></p>
        <%= button_to "VIEW", {:action => "show", :class => "button", :method => :get, :id => project.id}%>
      </div>
    </div>
  </div>
<% end %>